# Application
APP_PORT=3000
APP_ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=shoponline
DB_PASSWORD=shoponline_secret
DB_NAME=shoponline_db
DB_SSLMODE=disable

# Admin
ADMIN_EMAIL=admin@shoponline.com
ADMIN_PASSWORD=admin123
